*{ 
    margin: 0;
    padding: 0;
    color: rgb(201, 202, 252);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(to bottom right, #16124b, #000000 );
    height: 100vh;
}
header{
    margin: 20px;
}  
header h3{
    font-size: 30px;
}
 main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    background: rgba(32, 27, 78, 0.8);
    height: 80vh;
    width: 15vw;
    margin: 10px;
    padding: 0 25px;
    border-radius: 2rem;
    display: grid;
    justify-content: center;
    
}
.hire-me {
    height: 100px;
    width: 220px;
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hire-me button{
    width: 190px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}
.hire-me button:hover{
    background: rgb(155, 147, 235);
    color: rgb(58, 1, 63);
    cursor: pointer;
}
.profile-img{
    width: 90px;
    height: 90px;
    display: flex;
    justify-self: center;
    position: relative;
    top: 40px;
    background: white;
    border: 4px solid rgb(155, 147, 235);
    border-radius: 50%;
}.title{
    display: flex;
    justify-self: center;
    position: relative;
    top: 15px;
}
.title img{
    margin: 0 5px;
    position: relative;
    bottom: 2px;
}
.skill-set{
    font-size: 12px;
    position: relative;
    top: -70px;
    left: 25px;
}

.main-box{
    background: rgba(32, 27, 78, 0.8);
    filter: blur(-50px);
    height: 80vh;
    width: 50vw;
    margin: 5px;
    border-radius: 2rem;
}
.main-box .my-lang{
    margin: 30px;
    text-align: center;
}
.lang{
    background: linear-gradient(to bottom right,rgba(109, 101, 179, 0.5), rgba(32, 27, 78, 0.7) );
    margin: 25px;
    height: 150px;
    width: 47vw;
    border-radius: 1rem;
    display: flex;
}
.lang .lang-profile{
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang .lang-profile img{
    width: 100px;
    height: 100px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.lang-main{
    height: 150px;
    width: 38vw;
    border-radius: 1rem;
}
.lang-title{
    font-size: 20px;
}
.lang-title, .lang-rating, .lang-progress{
    margin: 10px;
    position: relative;
    top: 20px;
}

